.app-navigator {
  flex: 1;
  position: relative;
}

.app-navigator input {
  max-width: 50rem;
  width: 100%;
  padding: 0.25rem 0.375rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--color-white);
  font-size: 0.75rem;
  outline: none !important;
  box-shadow: none;
}

.suggestions {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  pointer-events: none;
  transform: translateY(-50%) scaleY(0);
}

.suggestions.active {
  pointer-events: all;
  transform: translateY(0) scaleY(1);
}

.suggestion {
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  padding: 0.25rem;
  gap: 0.125rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  scale: 1;
}

.suggestion:hover {
  scale: 1.05;
}

.suggestion-icon {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.125rem
}

.suggestion-icon > * {
  height: 100%;
  aspect-ratio: 1;
}

.suggestion-name {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

